# JUCE / C++ ignore patterns
build/
.vs/
*.user
*.suo
*.sln.doccache
*.vst3
*.exe
*.pdb
*.ilk
*.lib
*.exp
*.obj
*.res
*.tlog
*.lastbuildstate
*.idb
*.cache
*.recipe
*.log
*.manifest
*.metadata
*.ninja
*.rule
*.stamp
*.depend
*.list
*.yaml
*.obj.enc
*.pdb.enc
*.ilk.enc
*.lib.enc
*.exp.enc
*.res.enc
*.tlog.enc
*.lastbuildstate.enc
*.idb.enc
*.cache.enc
*.recipe.enc
*.log.enc
*.manifest.enc
*.metadata.enc
*.ninja.enc
*.cmake.enc
*.rule.enc
*.stamp.enc
*.depend.enc
*.list.enc
*.yaml.enc
